* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

:root {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;

  --background: #111214;
  --secondary: #252525;
  --border-secondary: #28292B;
  --accent: #0085FE;
  --color: #fff;

}