@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
  --backgroud: #1E1E1E;
  --darker-backgroud: #222222;
  --primary-accent: #4ecdc4;
  --secondary-accent: #ffd166;
  --text: #e0e0e0;
  --link-highlight: #e74c3c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Roboto;
  color: var(--text);
  font-size: 1.1rem;
  line-height: 1.8;
}

body {
  min-height: 100vh;
  background-color: var(--backgroud);
}

header {
  display: flex;
  align-items: flex-start;

  padding: 2rem;
}

header ul {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  gap: 1rem;
}

header ul li a {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

header ul li a:hover {
  color: var(--secondary-accent);
}

header ul li a.active {
  color: var(--secondary-accent);
  transition: color 0.3s ease-in-out;
}

header ul li a.active:hover {
  color: var(--text);
}

main #presentation {
  padding: 0 2rem 1rem;
}

main #presentation h1 {
  color: var(--primary-accent);
  font-size: 2.2rem;
}

main #presentation p {
  margin-top: 1rem;
}

#recent-projects {
  padding: 0 2rem 1rem;
}

#recent-projects h2 {
  font-size: 1.8rem;
}

#recent-projects p {
  margin-top: 1rem;
}

#recent-projects ul {
  margin-block: 1rem;
  padding-left: 2rem;
  list-style-type: disc;
}

#recent-projects ul li {
  padding: 0.2rem;
}

#blog-posts {
  padding: 0 2rem 1rem;
}

#blog-posts h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

#blog-posts .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

#blog-posts .post-card {
  padding: 2rem;
  border: var(--primary-accent) 1px solid;
  max-width: 50rem;
  background-color: var(--darker-backgroud);
}

#blog-posts .post-card .date {
  margin-top: .5rem;
  color: var(--primary-accent);
}

#blog-posts .post-card .title {
  margin-block: 1rem;
  font-size: 1.2rem;
  text-decoration: underline;
}

#blog-posts .post-card .summary {
  color: #9ca3af;
  margin-bottom: 1rem;
}

#blog-posts .post-card .tags {
  color: var(--text);
  margin-bottom: 1rem;
}

#blog-posts .post-card .read-more-button {
  display: flex;
  justify-content: flex-end;
  color: var(--primary-accent);
  cursor: pointer;
  align-items: center;
  text-align: center;
}

#blog-posts .post-card .read-more-button p {
  transition: color 0.3s ease-in-out;
}

#blog-posts .post-card i.arrow-icon {
  color: var(--secondary-accent);
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

#blog-posts .post-card .read-more-button p:hover {
  color: var(--secondary-accent);
}

#footer {
  padding: 2rem 2rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#footer ul {
  display: flex;
  flex-direction: row;

  list-style-type: none;
  gap: 1rem;

  align-items: center;
  text-align: center;
}

#footer ul li i.icon {
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

#footer ul li i.icon:hover {
  color: var(--secondary-accent);
}

#footer #links {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  transition: color 0.3s ease-in-out;
}

#footer #links *:hover {
  color: var(--secondary-accent);
}

@media (min-width: 0px) {
  #blog-posts .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  #blog-posts .post-card .read-more-button {
    margin-top: 2rem;
    justify-content: flex-start;
  }

  #footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #footer ul {
    margin-block: 1rem;
  }
}

@media (min-width: 768px) {
  main {
    padding: 0 2rem;
  }

  
  #blog-posts .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  
  #blog-posts .post-card .read-more-button {
    justify-content: flex-end;
  }

  #footer {
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  main {
    padding: 0 4rem;
  }
  #blog-posts .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }

  #blog-posts .post-card .read-more-button {
    justify-content: flex-end;
  }

  #footer {
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
}

p {
  font-size: 1.1rem;
}